@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    San maritn 1505<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    26156473839
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">utn@mendoza.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@mail.com</a>
</address>
